<div id="container">
  <div id="searchBar">
    <input type="text" name="txtSearchData" [(ngModel)]="txtSearchData" placeholder="search by name">
    <select  id="drpProtfolioType" name="drpType" [(ngModel)]="drpType">
      <option value="All" [selected]="selected == 'All'">All</option>
      <option *ngFor="let item of data[0].protfolios | getUniqeTypeList" [value]="item.type">{{item.type}}</option>
    </select>
  </div>

  <table BORDER=0 CELLSPACING=0 CELLPADDING=0>
    <thead>
      <tr *ngFor="let item of data[1].metadata">
        <th>{{item.type}}</th>
        <th>{{item.name}}</th>
        <th>{{item.currency}}</th>
        <th>{{item.current_capital}}</th>
        <th>{{item.avg_yield}}</th>
        <th>{{item.avg_rating}}</th>
        <th>{{item.last_update}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data[0].protfolios | protfolioFilter:txtSearchData | filterByProtfolioType: drpType">
        <td>{{item.type}}</td>
        <td>{{item.name}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.current_capital}}</td>
        <td>{{item.avg_yield}}</td>
        <td>{{item.avg_rating}}</td>
        <td>{{item.last_update | date: 'dd/MM/yy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
